@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.attribution { 
    font-size: 11px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.box {
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
    padding: 5% auto 5% auto;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.box img {
    width: 10%;
    height: 10%;
    margin: 15px;
}

.btn {
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    padding: 5% auto 5% auto;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn:hover {
    color: yellow;
    background-color: hsl(223, 47%, 23%)
}

.change {
    text-decoration: underline;
}

.change:hover {
    color: hsl(245, 75%, 52%);
    text-decoration: none;
}

.cancel:hover {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    overflow-x: hidden;
}

h6 {
    line-height: 1;
}

h1 {
    font-size: 1.5rem;
}
